
@{
    ViewBag.Title = "AboutUs";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}
<div style="height: 80px;"></div>
<div class="background-AboutUs" style="background-color:black; width: auto; height: 800px; ">
    <div class="card-aboutus">
        <h1 style="text-align: center; color: #F9C813;"><b>GIỚI THIỆU THÀNH VIÊN NHÓM</b></h1>
        <div class="row">
            @*Hưng*@
            <div class="col">
                <div class="card-boss">
                    <div class="img-boss">
                        <div class="img-boss-child">
                            <img class="ava" src="~/Content/img/Hung.jpg" style=" " />
                        </div>
                    </div>
                    <div class="card-boss-text">
                        <h3><b>Phan Nguyễn Duy Hưng</b></h3>
                        <h5>Chức vụ : Thành viên</h5>
                        <h5 style="color:red"><b>Nhiệm vụ</b></h5>
                        <p style="align-items:flex-start;">code back-end , phân tích chức năng và báo cáo phần công nghệ mới</p>
                    </div>

                </div>
            </div>
            @*Tuấn*@
            <div class="col">
                <div class="card-boss">
                    <div class="img-boss">
                        <div class="img-boss-child">
                            <img class="ava" src="~/Content/img/Tuan.jpg" style=" " />
                        </div>
                    </div>
                    <div class="card-boss-text">
                        <h3><b>Nguyễn Hoàng Tuấn</b></h3>
                        <h5>Chức vụ : Nhóm trưởng</h5>
                        <h5 style="color:red"><b>Nhiệm vụ</b></h5>
                        <p style="align-items:flex-start;">Thiết kế csdl , đặc tả hệ thống , code winform và vẽ mô hình</p>
                    </div>

                </div>
            </div>
            @*Thiên Anh*@
            <div class="col">
                <div class="card-boss">
                    <div class="img-boss">
                        <div class="img-boss-child">
                            <img class="ava" src="~/Content/img/ThienAnh.jpeg" style=" " />
                        </div>
                    </div>
                    <div class="card-boss-text">
                        <h3><b>Dương Thiên Anh</b></h3>
                        <h5>Chức vụ : Thành viên</h5>
                        <h5 style="color:red"><b>Nhiệm vụ</b></h5>
                        <p style="align-items:flex-start;">code font-end , Làm word báo cáo và thêm data</p>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>


